{% extends 'users/base.html' %}
{%block title%}create category{% endblock%}
{% load crispy_forms_tags %}

{% load static %}
{%block content%}
<br>
<h3 style="color: #138D75; font-family: Georgia">Category</h3>
<div style="border : solid 1px ; padding : 15; padding-right: 20; margin : 50; margin-right: 500; border-radius: 1em; box-shadow: 5px 10px #EAECEE;
border-color:#17A589">

<form method="POST" action="" enctype="multipart/form-data" >
  {% csrf_token %}
    {{form}}
<br>
  <button type="submit" class="btn" style="background-color: #17A589" >Submit</button>
</form>
  </div>
<script>
    inputs = document.querySelectorAll('input');
  select= document.querySelector('select')
  for (var i = 0; i < inputs.length; i++) {
      inputs[i].classList.add('form-control');
  }
  select.classList.add('form-control')
</script>

{%endblock%}