{% extends 'projects/base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{%block content%}
<br>
<h3>CATEGORY</h3>

<form method="POST" action="" enctype="multipart/form-data" >
  {% csrf_token %}
    {{form}}
<br>
  <button type="submit" class="btn btn-success" >Submit</button>
</form>
<script>
    inputs = document.querySelectorAll('input');
  select= document.querySelector('select')
  for (var i = 0; i < inputs.length; i++) {
      inputs[i].classList.add('form-control');
  }
  select.classList.add('form-control')
</script>

{%endblock%}