html,body {
	height: 100%;
}

.global-container{
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

form{
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}

.card-title{ font-weight:300; }

.btn-submit {
	    border: 0;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background: #28a745;
    color: #fff;
    margin-top: 20px;
}


.login-form{
	width:330px;
	box-shadow: 0 3px 13px #00000026;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

.alert{
	margin-bottom:-30px;
	font-size: 13px;
	margin-top:20px;
}

.card-body{
    margin:auto;
}

h3{
    color: #28a745;
}
label {
    display: block !important;
    }
input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;

}