{% extends "users/base.html" %}
{%block title%} log out{% endblock%}
 
{% block content %}

<div style="text-align: center;" class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <h1 style="text-align: center; margin-top: 20px; color: rgb(92, 18, 21); padding-bottom: 50px;">Logged out !</h1>  
                  <form action="{% url 'login'%}" method="get"  style=" display: inline-block;">
                   <h5 style=" display: inline-block;"><button type="submit" 
                       class="btn btn-outline-success btn-floating" data-mdb-ripple-color="dark"> login again </button></h5>
                  </form>   
                       &nbsp; &nbsp; &nbsp;
                  <form action="{% url 'home'%}" method="get"  style=" display: inline-block;">   
                   <h5><button type="submit" 
                       class="btn btn-outline-success btn-floating" data-mdb-ripple-color="dark">go home</button></h5>
                  </form>
              </div> 
             </div> 
            </div> 
          </div> 
         </div> 
        </div> 
      </div> 
{% endblock %}